h1{
    color: rgb(255, 255, 255);
    background-color: #4400ff;
    text-align: center;
    border-radius: 12px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 2vh;
    padding: 1vh;
}
.rd{
    margin: 7vh;
}
input[type=text],input[type=password],input[type=email],input[type=phonenumber]{
    width: 100%;
    height: 4.5vh;
}
button[type=submit]{
  color: #ffffff;
  padding: 0.5vh;
  background-color: #1900ff;
  border-radius: 6px;
  border-color: none;
  font-family: sans-serif;
  border-color: #1900ff;
}
span{
 font-weight: bolder;
 font-size: 13px;
 margin-left: 1vh;
}
.ty{
    font-weight: bolder;
}
span{
    color: rgb(255, 0, 0);
}
