{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"rel="stylesheet"href="{% static 'become.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 
    <title>Become Astronaut</title>
</head>
<body>
    <div class="container-fluid">
        <h1>HOW TO BECOME AN ASTRONAUT</h1>
    </div>
    <marquee>
        <img src="{% static 'images/amer.jpg'%}"class="img-fluid"width=35px> <h5 style="color:rgb(0, 0, 0)"> NASA ACADEMY</h5>
    </marquee>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg">
              <h4>NASA REQUIREMENTS:</h4>
               <P>Within the next few decades, humans could be leaving their footprints on Mars! But before that, NASA’s Artemis program will land the first woman and the next man on the Moon by 2024. The Orion spacecraft atop the Space Launch System (SLS) rocket will carry humans farther into space than they have gone before—for missions to the Moon and eventually to Mars.

                As NASA continues to expand human exploration in our solar system, we will need more than the currently active astronauts to crew spacecraft bound for multiple deep-space destinations.
                
                NASA’s astronauts currently work as scientists on the International Space Station—a laboratory that orbits Earth approximately 240 miles above the planet’s surface. Astronauts on the station conduct scientific experiments such as innovative cancer research and research on the human body and living in space.
                
                The agency’s commercial partners are beginning to transport cargo from Earth to the space station, and they will soon be launching astronauts to and from the station as well. New astronauts will crew these missions and support the scientific research on the station.
                </P>
                <p> NASA’s astronauts currently work as scientists on the International Space Station—a laboratory that orbits Earth approximately 240 miles above the planet’s surface. Astronauts on the station conduct scientific experiments such as innovative cancer research and research on the human body and living in space.   
              
                    The agency’s commercial partners are beginning to transport cargo from Earth to the space station, and they will soon be launching astronauts to and from the station as well. New astronauts will crew these missions and support the scientific research on the station.</p>
        
                   <h4> A Very Brief History of Astronaut Selection:</h4>
                   <p>The military selected the first astronauts in 1959. The first astronauts were military personnel who had experience flying jet aircraft and backgrounds in engineering. They also had to be shorter than 5 feet 11 inches—to fit in the Mercury spacecraft.

                    In addition to flight and engineering expertise, space exploration requires scientific knowledge and the ability to apply it. So, in 1964, NASA began searching for scientists to be astronauts. Back then, one qualification for scientist-astronauts was a doctorate in medicine, engineering or a natural science such as physics, chemistry or biology.</p>
                   <p>NASA’s Astronaut Selection Board reviews the applications (a record-breaking 18,300 applications in 2016) and assesses each candidate’s qualifications. The board then invites a small group of the most highly qualified candidates for interviews at NASA's Johnson Space Center in Houston, Texas. Of those interviewed, about half are invited back for second interviews. From that group, </p>
               
                   <h4>So, What Does It Take To #BeAnAstronaut?</h4>
                   <p>Astronaut requirements have changed with NASA's goals and missions. Today, to be considered for an astronaut position, applicants must meet the following qualifications:</p>
                    <ul>
                        <li>Be a U.S. citizen</li>
                        <li>Possess a master's degree* in a STEM field, including engineering, biological science, physical science, computer science or mathematics, from an accredited institution.</li>
                        <li>Have at least two years of related professional experience obtained after degree completion or at least 1,000 hours pilot-in-command time on jet aircraft.</li>
                        <li> Be able to pass the NASA long-duration flight astronaut physical</li>
                    </ul>
            </div>
            <div class="col-lg">
               <img src="{% static 'images/asr.jpg'%}"class="img-fluid"id="hu"title="Astronaut"> 
            </div>
      </div>
  </div>
  <div class="demo5">
    copyright &copy;2021 Project Session....
 </div>
</body>
</html>