{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link type="text/css"rel="stylesheet"href="{% static 'contact.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<body>
    
      <h1 class="container-fluid">NASA SPACE ACADEMY</h1>
 
         
   <marquee>
    <img src="{% static 'images/amer.jpg'%}"class="img-fluid"width=35px> <h5> NASA ACADEMY</h5>
  </marquee>

<div class="container">
    <div class="row">
        <div class="ty">
           <CENTER><h4>........WORKING TIMES........</h4>
                <H6>MONDAY TO FRIDAY</H6>
                <P>9AM - 6PM</P>
                <H6>SATURDAY & SUNDAY</H6>
                <P>Holidays</P>
            </CENTER> 
        </div>
    </div>
</div>

   <footer>
      <div id="vf">
         <div class="container">
             <div class="row">
                  <div class="col-sm">
                         <i class="fa fa-home"style="font-size:97px"></i>
                         <div class="op">SRINIVAS WEB HOUSE</div> 
                         <div class="lk"> Near Five Shops Center,</div> 
                         <div class="yt">Kandkam Street,</div> 
                         <div class="ty">Andhra Pradesh,India</div> 
                         <div class="cd">534001.</div> 
                  </div>
                <div class="col-sm">
                     <div class="bg">
                        <i class="fa fa-phone"style="font-size:97px"></i>
                    </div>
                        <div class="m">PHONE NUMBERS</div>
                        <div class="r"> call for work</div> 
                        <div class="t"> 8688042112</div> 
                        <div class="h"> 9045683249</div> 
                        <div class="a"> Emergency call</div> 
                        <div class="b"> 8957483947</div> 
                </div>
                <div class="col-sm">
                    <i class="fa fa-envelope"style="font-size:97px"></i></li>
                    <div class="oo"> EMAIL</div> 
                    <div class="rr"> srinivasgirijala777@gmail.com</div> 
                    <div class="rrr">  For work Mail</div> 
                    <div class="ui"> srinivasgirijala899@gmail.com</div> 
                </div>
                
                <div class="col-sm">
                    <i class=" fa fa-instagram"style="font-size:30px"> royal_lifeeeeeeeee</i></li>
                    <br>    <br>    
                    <i class=" fa fa-github"style="font-size:30px"> srinivas girijala</i></li>
                    <br>    <br>    
                    <i class=" fa fa-facebook"style="font-size:30px"> srinivas girijala</i></li>
                    <br>    <br>    
                    <i class=" fa fa-twitter"style="font-size:30px"> @sriniva17314340</i></li>
                </div>
            </div>
         </div>
      </div>
   </footer>
   <div class="njk">
    copyright &copy; 2021 practise session
 </div>
</body>
</html>