{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"rel="stylesheet"href="{% static 'created.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 
    <title>NASA ACADEMY STARTED</title>
</head>
<body>
  <style>
      .iyt{
          background-image: url("{% static 'images/cre.jpg' %}");
          width: 100%;
          height: 40vh;
          background-position: center;
          background-size: cover;
          border-radius: 2vh;
      }
  </style>
    <div class="container-fluid">
        <div class="iyt">
              <h1> WHEN  NASA  ACADEMY  STARTED</h1>
              <marquee class="col-sm de">
                <img src="{% static 'images/amer.jpg'%}"class="img-fluid"width=35px> <h5 style="color:rgb(255, 255, 255)"> NASA ACADEMY</h5>
             </marquee>
        </div>
    </div>
       <CENTER><h2>HISTORY</h2></CENTER> 
    <div class="container-fluid">
         <div class="row">
               <P>The National Aeronautics and Space Act of 1958 (Pub.L. 85-568) created the National Aeronautics and Space Administration (NASA). Section 20112 (a)(3) of the Act directs NASA "to provide for the widest practicable and appropriate dissemination of information concerning NASA activities and the results thereof." The sharing of information, and our history, has always been, and continues to be, a priority.</P>
                <p>The NASA Academy offers an intense, multi-disciplinary research program that emphasizes collaboration, teamwork, leadership, innovation and creativity.

               th a mentor-prescribed research plan. This is an intense, multi-disciplinary, research project that requires focus and commitment. A real problem in aeronautics or aerospace is given to the team and the team decides how to solve the problem using available resources. The team will have a technical advisory committee composed of NASA experts in the area of the project, including past summer team alumni. The advisory committee meets once per week to hear the team's progress, take questions, make suggestions, etc.</p> 
               <p>he National Aeronautics and Space Administration (NASA), is responsible for unique scientific and technological achievements in human spaceflight, aeronautics, space science, and space applications that have had widespread impacts on our nation and the world. Forged in response to early Soviet space achievements, NASA was built on the National Advisory Committee for Aeronautics (NACA), and other government organizations, as the locus of U.S. civil aerospace research and development.

                When NASA opened for business on October 1, 1958, it accelerated the work already started on human and robotic spaceflight. NASA's first high profile program was Project Mercury, an effort to learn if humans could survive in space. This was followed by Project Gemini, which used spacecraft built for two astronauts to perfect the capabilities needed for the national objective of a human trip to the Moon by the end of the 1960s. Project Apollo achieved that objective in July 1969 with the Apollo 11 mission and expanded on it with five more successful lunar landing missions through 1972. After the Skylab and Apollo-Soyuz Test Projects of the mid-1970s, NASA's human spaceflight efforts again resumed in 1981, with the Space Shuttle program that continued for 30 years. The Shuttle was not only a breakthrough technology, but was essential to our next major step in space, the construction of the International Space Station.
                
                Over the last 60 years NASA has continued to push the boundaries with cutting edge aeronautics research that has dramatically changed the way we build and fly airplanes. NASA has also completed the reconnaissance of our solar system, with intense investigation of all the planets. Using orbital spacecraft like the Hubble Space Telescope, NASA has also dramatically changed our understanding of the universe around us, as well as our own planet. NASA’s early work on launch vehicles, communication satellites, and weather satellites has fundamentally changed daily life and created whole new industries. As a catalyst for international cooperation, NASA has also changed how and why humanity conducts space exploration. Now, NASA is preparing to take humankind farther than ever before, as it helps to foster a robust commercial space economy near Earth, and pioneers further human and robotic exploration as we venture into deep space.
                </p>
         </div>
    </div>
    



    







          <CENTER> <h2>OVER VIEW</h2></CENTER>
      <div class="container-fluid">
           <div class="ROW">
                <P>The NASA History Office Program publishes a quarterly newsletter, as well as an array of books (print and digital), hosts social media, provides fellowships, and runs the Historical Reference Collection (our version of an archive) to assist the public in finding more information on aeronautical and space history. In addition, the staff produces the Aeronautics and Space Report of the President. The National Aeronautics and Space Act of 1958 directs NASA to produce an annual report that includes a “comprehensive description of the programmed activities and the accomplishments of all agencies of the United States in the field of aeronautics and space activities" during the preceding year.
                    Our staff also assists the public, media, researchers, NASA employees and Congressional staff to find resources within and outside the NASA History Office's Historical Reference Collection.A collection of memoirs by 40 scientists, engineers, technicians, secretaries, test pilots, and leaders who built a unique interagency collaboration under an Army-NASA Joint Agreement at Ames. Edited by Robert Ormiston and Irving Statler.
                </P>
               <P>History interview transcripts of personnel from NASA Ames Research Center and its precursor organization, the NACA Ames Aeronautical Laboratory. Processed by April Gage. Guide. Includes Arno's artwork, in the form of illustrations representing engineering concepts, as well as editorial cartoons about NASA people and projects. Processed by April Gage.collection contains research materials collected by individuals hired by NASA to write histories of NASA Ames or its research and development activities. Guide re-written and an accrual added. Processed by April Gage. 	"The Freedom to Learn"
                  Jack Boyd reflects on a rich career at Ames and a advises how to strengthen future innovation by staying connected with the past in the fall 2010 issue of ASK Magazine.
               </P>
           <div>
      </div>
       
  <br>

              
                        <div class="njk">
                            copyright &copy; 2021 Project Session
                        </div>  
             
    

</body>
</html>