{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css"rel="stylesheet"href="{% static 'training.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
 
    <title>ASTRONAUTS TRAINING</title>
</head>
<body>
    <style>
        #ki{
            background-image: url("{% static 'images/uhyu.jpg'%}");
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            height: 60vh;
            border-radius: 3vh;
        }
    </style>
    <div class="img-luid"id="ki">
        <div class="container-fluid">
            <h1>ASTRONAUTS TRAINING</h1>
        </div>
    </div>
        <marquee>
        <img src="{% static 'images/amer.jpg'%}"class="img-fluid"width=35px> <h5 style="color:rgb(0, 0, 0)"> NASA ACADEMY</h5>
     </marquee>



      <div id="ec">
            <div class="container-fluid">
               <div class="row">
                   <h4>Astronauts In Training</h4>
                    <p>The most exciting day for anyone who wants to travel into space is the day he or she is selected to be an astronaut candidate. Then the real work begins. It can take up to two years of training to become a fully qualified astronaut. Candidates must learn the basics of the Space Shuttle and the International Space Station. They must also learn how to be part of a team by flying the NASA T-38 training jets.
                      Astronauts also take classes. They must learn many things besides science. They also learn about medical procedures. Many times, they have to give speeches, so they take public speaking classes. In order to be prepared for any emergency, astronauts take survival training.
                      If you are going to be a crew member on the ISS, you will also have to take language classes. 
                      This plane is also known as the Weightless Wonder or Vomit Comet. It provides about 20-25 seconds of zero gravity. For this brief amount of time, astronauts feel weightless. Sometimes, even experienced astronauts get sick in the KC-135. That is where it gets one of its names.
                      You will need to be able to talk with the Russian Mission Control Center.</p>
                   <p>In order for astronauts to get a feel for what they will be doing in space, they practice on life-sized models. These models are called "mock-ups." The Space Vehicle Mock-up Facility (SVMF) is where they practice. In the SVMF, astronauts practice using the Space Shuttle Orbiter and parts of the ISS. In these mock-ups, astronauts will learn how they will move about.
                   </p>
                 <center><img src="{% static 'images/kmh.jpg'%}"class="img-fluid"id="dzz"title="Training Time"><h6>Under Water Training</h6></center>   
                  <p>In order for astronauts to get a feel for what they will be doing in space, they practice on life-sized models. These models are called "mock-ups." The Space Vehicle Mock-up Facility (SVMF) is where they practice. In the SVMF, astronauts practice using the Space Shuttle Orbiter and parts of the ISS. In these mock-ups, astronauts will learn how they will move about.</p>
                   
                  <h4>The Neutral Buoyancy Laboratory</h4>
                 <P>NASA astronaut Jessica Meir caught the public's attention over the weekend when she published two selfies captured during a spacewalk using a Nikon D5 camera. Meir has shared a number of images from the International Space Station since her arrival in September 2019, though few were as impressive as her full-body selfie captured as a reflection in ISS solar panels.Meir shared the images on January 26, tagging them with the #SundaySelfie hashtag. One is a traditional shot of her face while the other image is a full-body shot of Meir in her spacesuit as seen reflected in some solar panels. The Earth is visible as a bright band of light behind her, as are bits and pieces of the space station.

                    As for the camera, Meir explains that she used a Nikon D5 camera with a 28mm lens and special protective housing that enables the camera to operate in space. NASA ordered a total of 53 unmodified Nikon D5 DSLRs from the camera company in 2017 with the intention of using them for recording ISS activities, as well as vehicular activities and astronaut training.</P>
                      <center><img src="{% static 'images/as.jpeg'%}" id="dvb"><h6>The Neutral Buoyancy Laboratory</h6></center> 
                    <P>How do you cover an event where photographers aren't allowed? Last month saw the inauguration of Joe Biden as president of the United States, an occasion which would normally see huge crowds of people, from officials, politicians and members of the public, to representatives of the world's press.

                    Obviously that wasn't going to happen this time around, and after the storming of the Capitol Building by a pro-Trump mob on Jan 6th, it became even more clear that Biden's would be an inauguration like no other.
                    
                    UK-based and Nikon-owned company MRMC has been creating robotic solutions for event photography for years, putting cameras where it wouldn't be safe – or permitted – for photographers to go. Since the global pandemic started to bite last year, their remote camera pods have been popping up all over the place, including at the US Capitol on January 20th. To find out more we spoke recently to Sascha Kunze, Broadcast Services Director at MRMC, and Molly Riley, Technical Solutions Manager at Nikon Inc.</P>
                  <p>Going to the Moon is no easy task, and it’s only half the journey. The farther a spacecraft travels in space, the more heat it will generate as it returns to Earth. Getting back safely requires technologies that can help a spacecraft endure speeds 30 times the speed of sound and heat twice as hot as molten lava or half as hot as the sun.

                    When Orion returns from the Moon, it will be traveling nearly 25,000 mph, a speed that could cover the distance from Los Angeles to New York City in six minutes. Its advanced heat shield, made with a material called AVCOAT, is designed to wear away as it heats up. Orion’s heat shield is the largest of its kind ever built and will help the spacecraft withstand temperatures around 5,000 degrees Fahrenheit during reentry though Earth’s atmosphere.
                    
                    Before reentry, Orion also will endure a 700-degree temperature range from about minus 150 to 550 degrees Fahrenheit. Orion’s highly capable thermal protection system, paired with thermal controls, will protect Orion during periods of direct sunlight and pitch black darkness while its crews will comfortably enjoy a safe and stable interior temperature of about 77 degrees Fahrenheit.</p>
                </div>
           </div>
       </div>
       <div class="njk">
        copyright &copy; 2021 Project Session
     </div>
</body>
</html>